body {
    padding: 0;
    margin: 0;
    font-style: normal;
    line-height: normal;
    background-color: lightpink;
}

.card:hover, .navbar-link:hover{
background-color:rgb(237, 85, 161);
color: white;
}
#footer,.btn{
    background-color: rgb(237, 85, 161);
}


.card{
    background-color:rgb(244, 148, 192) ;
}